snippet ss
	!SLIDE
snippet sst
	!SLIDE
	# ${1:; Title} #
snippet ssc
	!SLIDE code
snippet ssb
	!SLIDE bullets incremental
	
	${1}
snippet tt
	# ${1} #
snippet @
	@@@ ${1:Scala}
	${2}
snippet link
	[${1:Name}](${2:http://})
